<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/IT17101/css/bootstrap.min.css" />
</head>
<body ng-app="demo_hello_world">
    <div ng-controller="my_controller">
        <h1>{{ hoTen }}</h1>
        <input type="text" name="ho_ten" ng-model="hoTen" />
        <button ng-click="btnOnClick($event)">Click me</button>
        <div>
            <form ng-submit="formSubmit($event)">
                <label>A</label>
                <input type="number" ng-model="a" />
                <label>B</label>
                <input type="number" ng-model="b" />
                <button>Tổng</button>
            </form>
        </div>
    </div>

    <script src="/IT17101/js/jquery.min.js"></script>
    <script src="/IT17101/js/popper.min.js"></script>
    <script src="/IT17101/js/bootstrap.min.js"></script>
    <script src="/IT17101/js/angularjs.min.js"></script>
    <script>
        const app = angular.module("demo_hello_world", []);
        function myController($scope) {
            $scope.a = 0;
            $scope.b = 0;

            $scope.formSubmit = function (event) {
                event.preventDefault();
                alert($scope.a + $scope.b);
            }

            $scope.message = "Hello World";
            $scope.hoTen = "Tran Van B";
            $scope.sv = {
                name: "Ng Van A",
                age: 20,
                code: "PH12345"
            };
            $scope.btnOnClick = function (event) {
                console.log(event);
                // alert("Hello Poly");
            }


        }

        app.controller("my_controller", myController);
    </script>
</body>
</html>