<div class="container">
	<!-- Form -->
	<div class="row col-12">
		<div class="row mt-4">
			<div class="col-6">
				<label>Họ tên</label>
				<input
					ng-model="form_data.ho_ten"
					type="text"
					class="form-control"
					name="ho_ten"
					id="ho_ten" />
			</div>
			<div class="col-6">
				<label>C/Ngành</label>
				<select
					ng-model="form_data.chuyen_nganh"
					name="c_nganh"
					class="form-select"
					id="c_nganh">
					<option value="udpm">Ứng dụng phần mềm</option>
					<option value="tktw">Thiết kế trang web</option>
					<option value="ltmt">Lập trình máy tính</option>
				</select>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-6">
				<label>Mã SV</label>
				<input
					ng-model="form_data.ma_sv"
					type="text"
					class="form-control"
					name="ma_sv"
					id="ma_sv" />
			</div>
			<div class="col-6">
				<label>Ngày nhập học</label>
				<input
					ng-model="form_data.ngay_nhap_hoc"
					type="date"
					class="form-control"
					name="ngay_nhap_hoc"
					id="ngay_nhap_hoc" />
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-6">
				<label>Giới tính</label>
				<input
					ng-model="form_data.gioi_tinh"
					type="radio"
					value="1"
					class="form-check-input"
					name="gioi_tinh"
					id="gioi_tinh_nam" />
				<label>Nam</label>
				<input
					ng-model="form_data.gioi_tinh"
					type="radio"
					value="0"
					class="form-check-input"
					name="gioi_tinh"
					id="gioi_tinh_nu"
					/>
				<label>Nữ</label>
			</div>
		</div>
		<div class="row mt-4">
			<button
				class="btn btn-success col-1 m-3"
				ng-click="onBtnCreateClick($event)">Create</button>
			<button class="btn btn-primary col-1 m-3">Update</button>
			<button class="btn btn-default col-1 m-3">Clear</button>
		</div>
	</div>
	<!-- End Form -->

	<!-- Table -->
	<div>
		<table>
			<thead>
				<tr>
					<th>Mã SV</th>
					<th>Họ tên</th>
					<th>Giới tính</th>
					<th>C/Ngành</th>
					<th>Ngày nhập học</th>
					<th colspan="2">Thao tác</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<!-- End Table -->
</div>